In [1]:
import pandas as pd
import os

In [ ]:
#need to go into root to find file 
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
csv_path = os.path.join(project_root, "data", "raw\weatherdata\city_temperature.csv")
print("Looking for CSV at:", csv_path)
# Read file
df = pd.read_csv(csv_path)

# Preview  data
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
C:\Users\JF29861\AppData\Local\Temp\1\ipykernel_24760\1333929430.py:2: SyntaxWarning: invalid escape sequence '\w'
  csv_path = os.path.join(project_root, "data", "raw\weatherdata\city_temperature.csv")

Looking for CSV at: c:\Users\JF29861\Desktop\Jude\ASSET_TEAM_DISTRIBUTION\WeatherTracker\weatherTrackerProj\data\raw\weatherdata\city_temperature.csv

C:\Users\JF29861\AppData\Local\Temp\1\ipykernel_24760\1333929430.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9